.signup-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.bg {
    background-color: #000;
}
.image-section {
    position : relative;
    left: -50%;
    transform: translateX(-50%);
    width: 150%;
    background-color: #f5e8db;
}

.signup-image {
    position : relative;
    left: -50%;
    transform: translateX(-50%);
    width: 150%;
    background-color: #f5e8db;
}

.form-section {
    background-color: white;
    padding: 50px;
}
