.section1 {
    display: block;
    text-align: left;
    padding: 20px;
}

.text1 {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 20px;
}

.text1 h2 {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.section1 img {
    display: inline-block;
    width: 50%;
    padding: 20px;
}

.section2 img {
    display: inline-block;
    width: 50%;
    padding: 20px;
}

.section2{
    display: block;
    text-align: left;
    padding: 20px;
}

.text2 {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 20px;
}

.text2 h2 {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.section3 img {
    display: inline-block;
    width: 50%;
    padding: 20px;
}

.section3{
    display: block;
    text-align: left;
    padding: 20px;
}

.text3 {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 20px;
}

.text3 h2 {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.section4{
    margin-top: 20px;
    display: block;
    text-align: left;
    padding: 20px;
    width: 50%;
}

.section4 h2{
    font-weight: bold;
    margin-bottom: 10px;
}

.section4 p{
    font-size: 24px;
}

p{
    font-size: 20px;
}
